extends layout

block content
    form(method='POST' action='/logout')
        button(type='submit') Αποσύνδεση

    p Δυστηχώς το σύστημα σίτησης δεν είναι διαθέσιμο ακόμα.
    br
    p Για παραπάνω πληροφορίες επικοινωνήστε με την Γραμματεία της Σχολής

    //change the above message to sth more meaningfull & w/ some spell check...