body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/*Button for submit*/
.my-button {
  background-color:#31bd56;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:17px;
  padding: 8px 96px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
}
.my-button:hover {
  background-color:#2da357;
}
.my-button:active {
  position:relative;
  top:1px;
}


.login-box {
  -webkit-box-shadow: 3px 3px 12px 0px rgba(0,0,0,1);
  -moz-box-shadow: 3px 3px 12px 0px rgba(0,0,0,1);
  box-shadow: 3px 3px 12px 0px rgba(0,0,0,1);
  border-radius: 15px;
  background:  #EFEAF0;
  padding: 2%;
  margin: auto;
  width:350px;
  height:180px;
  border: 1px solid black;
  text-align:center;
}

.custom-box{
  border-radius: 1px;
  background:  #EFEAF0;
  padding: 2%;
  margin: auto;
  width:70%;
  height:95%;
  border: 1px solid black;
  text-align:center;
}
/*so username and password labels are on top*/
.my-display {
  display:block;
}

.center-stuff {
  margin:auto;
}

.error-color{
  color:#FF0000;
}

.text-input{
  padding-left: 15px;
  border-radius:28px;
  width:220px;
  height:35px;
  align-items: center;
  justify-content: center;
}

body{
  background: url("https://i.pinimg.com/originals/1d/38/88/1d38889d216b9180c6712e8553f471b3.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*Put font-awesome icons inside the input*/
/*.awesome-fix #awe-fix{*/
/*border-radius: 3px;*/
/*border: 1px silver solid;*/
/*padding-left: 10px;*/
/*font-weight: bolder;*/
/*color: #bcbcbc;*/
/*height: 40px;*/
/*width: 350px;*/
/*}*/
/*.awesome-fix .fas {*/
/*margin: auto -30px;*/
/*}*/

.table-align{
  margin-left:11%;
}

.striped-table {
  border-collapse: collapse;
  width: 60%;
}

.striped-table th, td {
  text-align: left;
  padding: 8px;
}

.striped-table tr:nth-child(even){
  background-image: -webkit-linear-gradient(top, #f2f2f2, #D9D9D9);
  background-image: -moz-linear-gradient(top, #f2f2f2, #D9D9D9);
  background-image: -ms-linear-gradient(top, #f2f2f2, #D9D9D9);
  background-image: -o-linear-gradient(top, #f2f2f2, #D9D9D9);
  background-image: linear-gradient(to bottom, #f2f2f2, #D9D9D9); }

.striped-table tr:nth-child(odd){
  background-image: -webkit-linear-gradient(top, #FFFFFF, #fbf5f5);
  background-image: -moz-linear-gradient(top, #FFFFFF, #fbf5f5);
  background-image: -ms-linear-gradient(top, #FFFFFF, #fbf5f5);
  background-image: -o-linear-gradient(top, #FFFFFF, #fbf5f5);
  background-image: linear-gradient(to bottom, #FFFFFF, #fbf5f5); }

.striped-table th {
  background-image: -webkit-linear-gradient(top, #39A7F0, #2786c5);
  background-image: -moz-linear-gradient(top, #39A7F0, #2786c5);
  background-image: -ms-linear-gradient(top, #39A7F0, #2786c5);
  background-image: -o-linear-gradient(top, #39A7F0, #2786c5);
  background-image: linear-gradient(to bottom, #39A7F0, #2786c5);
  color: white;
}

/*Simple table*/

.simple-table {
  border-collapse: collapse;
  width: 50%;
  border: 1px solid #ddd;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 23px -9px #000000;
  -moz-box-shadow: 5px 5px 23px -9px #000000;
  box-shadow: 5px 5px 23px -9px #000000;
}


.simple-table th{
  background-image: -webkit-linear-gradient(top, #9dc0d6, #7fa3b8);
  background-image: -moz-linear-gradient(top, #9dc0d6, #7fa3b8);
  background-image: -ms-linear-gradient(top, #9dc0d6, #7fa3b8);
  background-image: -o-linear-gradient(top, #9dc0d6, #7fa3b8);
  background-image: linear-gradient(to bottom, #9dc0d6, #7fa3b8);
  padding: 8px;
  text-align: left;
  border-collapse: collapse;
}
.simple-table td {
  background-image: -webkit-linear-gradient(top, #FFFFFF, #fbf5f5);
  background-image: -moz-linear-gradient(top, #FFFFFF, #fbf5f5);
  background-image: -ms-linear-gradient(top, #FFFFFF, #fbf5f5);
  background-image: -o-linear-gradient(top, #FFFFFF, #fbf5f5);
  background-image: linear-gradient(to bottom, #FFFFFF, #fbf5f5);
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
  background-color: white;

}
.simple-table tr:hover {background-color:#d3e4ec;}

.smol-button {
  background-color:#619dc2;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid #237dc2;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:8px 30px;
  text-decoration:none;
  text-shadow:0px 1px 0px #237dc2;
}
.smol-button:hover {
  background-color:#5ea9cc;
}
.smol-button:active {
  position:relative;
  top:1px;
}
.logout-button {
  background-color:#153fab;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid #235ec4;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:11px 30px;
  text-decoration:none;
  text-shadow:0px 1px 0px #4f2866;
}
.logout-button:hover {
  background-color:#2f59c4;
}
.logout-button:active {
  position:relative;
  top:1px;
}


.floatLeft {float: left; }
.floatRight {float: right; }



